doctype html
html
  head
    title Abdur Dance Academy
    block scripts
    block style
  body
    nav#navBer
        ul
          div#logo
            img(src="/static/accet/logo.png")
            | HDA
          li #[a(href="/") Home]
          li #[a(href="/") About]
          li #[a(href="/") Services]
          li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
        | Copywrite © 2022 AbdurDanceAcademy.com |All rights reserved 
